.template-card {
    position: relative;
    img{
        width: 100%;
    }

    .template-promo {
        position: absolute;
        top: 50%;
        left: 40%;
    }
}

.selected-template-card {
    border: 5px dotted black;
}